/* html */

body{
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight: 600;
}

p{
  color: #8f8f8f;
}

/* headings */

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */

.container-fluid{
  padding: 7% 15%;
}

/* sections */

.color-section{
  background-color: #9D3C72;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* navbar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

.download-btn{
  margin: 5% 3% 5% 0%
}

/* title section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* title img iphone */
.title-img{
  width: 25%;
  transform: rotate(5deg);
  position: absolute;
  right: 20%;
}

/* features section */

#features{
  position: relative;
}

.features-text{
  font-size: 1.5rem;
}

.icon-features{
  color: #C85C8E;
  margin-bottom: 0.5em;
}

.icon-features:hover{
  color: #9D3C72;
}

.feature-box{
  padding: 5%;
}

/* testimonial section */

#testimonials{
  background-color: #C85C8E;
  color: #fff;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */

#press{
  background-color: #C85C8E;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
  padding: 100px;
}

.pricing-title{
  font-size: 1.5rem;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 3% 2%;
}

/* cta section */


/* footer section */

.footer-icon{
  margin: 0 10px;
}

/* bootstrap section */

.btn-outline-success{
  color:#C85C8E;
  border-color: #C85C8E;
}
.btn-outline-success:hover{
  border-color: #9D3C72;
  background-color: #9D3C72;
}
.btn-success{
  background-color: #C85C8E;
  border-color: #C85C8E;
}
.btn-success:hover{
  background-color: #9D3C72;
  border-color: #9D3C72;
}

/* responsive */

@media (max-width: 991px){
  #title{
    text-align: center;
  }
  
  .title-img{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}